html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}

#dropdown {
  margin: auto;
  width: 300px;
}

#dropdown > input {
  width: 100%;
  margin: 0;
}

.results > ul {
  margin-top: 5px;
  width: 100%;
  border: solid;
  padding-top: 4px;
}

.results > ul:empty {
  display: none;
}

.results > ul > li {
  padding: 0px 8px 4px 8px;
}

.results > ul > li:hover {
  background-color: grey;
}
